<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for todo_item in all_items %}
        <li>{{todo_item.content}}
            <form action="/deleteTodo/{{todo_item.id}}/" method="post">{% csrf_token%}
                <input type="submit" value="Delete"/>
            </form>
        </li>
        {% endfor %}
    </ul>
    <form action="/addTodo/" method="post">{% csrf_token%}
        <input type="text" name="content"/>
        <input type="submit" value="Add"/>
    </form>

</body>
</html>